[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
motor = "*"
dnspython = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"

[scripts]
bot = "python bot.py"
