[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
motor = "*"
dnspython = "*"
odmantic = "*"

[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"
bandit = "*"

[requires]
python_version = "3.8"

[scripts]
bot = "python bot.py"

[pipenv]
allow_prereleases = true
